# --- Database config ---
POSTGRES_NAME=dip_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=local_pass
# Optional
POSTGRES_HOST=database
POSTGRES_PORT=5432

# --- LLM Engine ---
# Optional
OLLAMA_HOST=ollama
OLLAMA_PORT=11434
