{% extends "base.html" %}

{% block content %}
<!-- UPLOAD FORM -->
<form
    id="upload-form"
    hx-indicator="#upload-form"

    hx-post="/api/documents/upload"
    hx-encoding="multipart/form-data"
    hx-swap="none"
    hx-on::after-request="htmx.ajax('GET', '/ui/documents/table', '#document-table')"

    hx-target-error="#error-box"
    hx-on::before-request="document.getElementById('error-box').innerHTML = ''"

    class="space-y-2"
>
    <input
        type="file"
        name="files"
        required
        multiple
        class="block w-full border p-2 rounded"
    >

    <button
        id="upload-btn"
        type="submit"
        class="
        px-4 py-2 bg-blue-600 text-white rounded
        hover:bg-blue-700
        htmx-indicator-invisible"
    >
        Upload
    </button>

    <div
        id="spinner"
        class="htmx-indicator flex items-center gap-2 text-blue-600 mt-2"
    >
        <div
            class="
                animate-spin h-4 w-4 border-2 border-blue-600
                border-t-transparent rounded-full
            "
        >
        </div>
        Uploading...
    </div>

</form>

<div id="error-box" class="error-zone mt-3 p-3 bg-red-100 text-red-700 rounded"></div>


<!-- DOCUMENTS TABLE -->
<div id="document-table">
    {% include "partial/document_table.html" %}
</div>

<style>
/* Ховаємо лоадер за замовчуванням */
  #upload-form .htmx-indicator {
    display: none !important;
  }
  /* Показуємо лоадер під час запиту */
  #upload-form.htmx-request .htmx-indicator {
    display: flex !important;
  }
  
  /* Кнопка видима за замовчуванням */
  #upload-form .htmx-indicator-invisible {
    display: block !important;
  }
  /* Кнопка зникає під час запиту */
  #upload-form.htmx-request .htmx-indicator-invisible {
    display: none !important;
  }

  /* Помилка */
  .error-zone:empty {
    display: none !important;
  }
  .error-zone:not(:empty) {
    display: block !important;
  }
.htmx-request button {
    opacity: 0.5;
    pointer-events: none;
}
</style>

{% endblock %}
